@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Internet Library is the official site of Andheri Library,
    this is a user friendly site to surf through our collection of books we provide.
    Proper books management is done by us.</p>
