@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Andheri Library<br />
    Andheri, Mumbai 1234567890<br />
    <abbr title="Phone">P:</abbr>
    +91 1234567890
</address>

<address>
    <strong>Email Id:</strong>   <a href="mailto:LibSys@example.com">LibSys@example.com</a><br />
</address>