
@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron{
        background-color:rgb(50 125 50)
    } @* change color to dark green *@
</style> 
<div class="jumbotron">
    <h1>The Internet Library</h1>
    <p class="lead">Online Library system for user to surf through our collection of books</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search Books</h2>
        <p>
            Surf through our book collection.<br />
            Check the books available in the library now, click below.
        </p>
        <p>
            <a class="btn btn-default" href= '@Url.Action("Index", "Books")' >View Books &raquo;</a>
        </p>
    </div>
</div>